
.grey-box {

    background-color:#808080;
    color: #FFFFFF;
    padding: 20px 10px;
    border-bottom: 5px solid #000000;

}

.position-header {

    margin: 10px;
}

.orange-square {

    height: 200px;
    width: 200px;
    background-color: #FFA500;
    margin: 50px;
    top:40px;
}

.orange-square2 {

    position: relative;
    height: 200px;
    width: 200px;
    background-color: #FFA500;
    bottom: 50px;
    top: 50px;
    margin-left: 50px;
    
}


.square-border {

    height: 200px;
    width: 200px;
    border: 15px solid #0000FF;
    background-color: #FFA500;
    margin: 50px;
}

.green-square {

    position: relative;
    background-color: #008000;
    bottom:150px;
    left:150px;
    width:100px;
    height:100px;
}

.green-square2 {

    position: relative;
    background-color: #008000;
    bottom:110px;
    left:80px;
    right:100px;
    width:100px;
    height:100px;
    
}

.circle {
    
    height: 200px;
    width: 200px;
    background-color: #0000FF;
    top: 100px;
    margin: 50px;
    border-radius: 50%;
  
}

.circle2 {

    position: relative;
    height: 200px;
    width: 200px;
    background-color: #0000FF;
    top: 50px;
    bottom: 50px;
    margin: 10px;
    left: 20px;
    border-radius: 50%;
    
}

.circle-border {

    height: 200px;
    width: 200px;
    border: 15px#0000FF;
    background-color: #FFA500;
    border-radius: 50%;
    margin: 50px;
}

.link-color {

    color:#FFFFFF;
    margin: 10px;
}